<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="{% url 'add_article' %}" method="post">
        <table>

            <tr>
                <td>标题：</td>
                <td><input type="text" name="title"></td>
            </tr>

            <tr>
                <td>内容：</td>
                <td><textarea name="content" id="" cols="30" rows="10"></textarea>></td>
            </tr>

            <tr>
                <td>价格： </td>
                <td><input type="number" name="price"></td>
            </tr>

            <tr>
                <td>提交</td>
                <td><input type="submit" value="提交"></td>
            </tr>

        </table>
    </form>
</body>
</html>